@{
    ViewData["Title"] = "Home Page";
}

<div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="6000">
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner" role="listbox">
        <div class="item active">
            <img src="~/images/banner1.svg" alt="ASP.NET" class="img-responsive" />
            <div class="carousel-caption" role="option">
                <p>
                    Learn how to build ASP.NET apps that can run anywhere.
                    <a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkID=525028&clcid=0x409">
                        Learn More
                    </a>
                </p>
            </div>
        </div>
        <div class="item">
            <img src="~/images/banner2.svg" alt="Visual Studio" class="img-responsive" />
            <div class="carousel-caption" role="option">
                <p>
                    There are powerful new features in Visual Studio for building modern web apps.
                    <a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkID=525030&clcid=0x409">
                        Learn More
                    </a>
                </p>
            </div>
        </div>
        <div class="item">
            <img src="~/images/banner3.svg" alt="Microsoft Azure" class="img-responsive" />
            <div class="carousel-caption" role="option">
                <p>
                    Learn how Microsoft's Azure cloud platform allows you to build, deploy, and scale web apps.
                    <a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkID=525027&clcid=0x409">
                        Learn More
                    </a>
                </p>
            </div>
        </div>
    </div>
    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>

<div class="Box-body">
    <article class="markdown-body entry-content p-5" itemprop="text">
        <p>
            <a target="_blank" rel="noopener noreferrer" href="/images/logoddd.png">
                <img src="images/logoddd.png" width="350" style="max-width:100%;">
            </a>
            <a target="_blank" rel="noopener noreferrer" href="/images/logoddd.png">
                <img src="~/images/0322140054image.png"  style="max-width:100%;float:right;height: 179px;margin-right: 65px;">
            </a>
        </p>
        <p>一个基于 DDD 领域驱动设计 + CQRS 命令查询职责分离 的 .net core 框架，完全开源，并且有博客教程，地址在下边。这仅仅是一个学习教程，不是一个真正落地项目，请记得。</p>
        <hr>
       
        <hr>
        <p>三大平台同步直播</p>
        <p>博客园：<a href="https://www.cnblogs.com/laozhang-is-phi/p/9806335.html" rel="nofollow">https://www.cnblogs.com/laozhang-is-phi/p/9806335.html</a></p>
        <p>简&nbsp;&nbsp;&nbsp;书：<a href="https://www.jianshu.com/c/fe7dd7fc5372" rel="nofollow">https://www.jianshu.com/c/fe7dd7fc5372</a></p>
        <p>码&nbsp;&nbsp;&nbsp;云：<a href="https://gitee.com/laozhangIsPhi/ChristDDD" rel="nofollow">https://gitee.com/laozhangIsPhi/ChristDDD</a></p>
        <hr>
<pre><code></code></pre>
        <h3 id="user-content-autoid-2-1-0"><a id="user-content-目录" class="anchor" aria-hidden="true" href="#目录"><svg class="octicon octicon-link" viewBox="0 0 16 16" version="1.1" width="16" height="16" aria-hidden="true"><path fill-rule="evenodd" d="M4 9h1v1H4c-1.5 0-3-1.69-3-3.5S2.55 3 4 3h4c1.45 0 3 1.69 3 3.5 0 1.41-.91 2.72-2 3.25V8.59c.58-.45 1-1.27 1-2.09C10 5.22 8.98 4 8 4H4c-.98 0-2 1.22-2 2.5S3 9 4 9zm9-3h-1v1h1c1 0 2 1.22 2 2.5S13.98 12 13 12H9c-.98 0-2-1.22-2-2.5 0-.83.42-1.64 1-2.09V6.25c-1.09.53-2 1.84-2 3.25C6 11.31 7.55 13 9 13h4c1.45 0 3-1.69 3-3.5S14.5 6 13 6z"></path></svg></a>目录：</h3><ul>
            <li><a href="https://www.cnblogs.com/laozhang-is-phi/p/9806335.html" rel="nofollow">01 ║ D3模式设计初探 与 我的计划书</a></li>
            <li><a id="user-content-post_title_link_9832684" href="https://www.cnblogs.com/laozhang-is-phi/p/9832684.html" rel="nofollow">02 ║ DDD入门 &amp; 项目结构粗搭建</a></li>
            <li><a id="user-content-post_title_link_9845573" href="https://www.cnblogs.com/laozhang-is-phi/p/9845573.html" rel="nofollow">03 ║ 简单说说：领域、子域、限界上下文</a></li>
            <li><a id="user-content-post_title_link_9872450" href="https://www.cnblogs.com/laozhang-is-phi/p/9872450.html" rel="nofollow">04 ║ 一个让你明白DDD的小故事 &amp; EFCore初探</a></li>
            <li><a id="user-content-post_title_link_9888502" href="https://www.cnblogs.com/laozhang-is-phi/p/9888502.html" rel="nofollow">05 ║ 聚合：实体与值对象 （上）</a></li>
            <li><a id="user-content-post_title_link_9916785" href="https://www.cnblogs.com/laozhang-is-phi/p/9916785.html" rel="nofollow">06 ║ 聚合 与 聚合根 （下）</a></li>
            <li><a id="user-content-post_title_link_9931304" href="https://www.cnblogs.com/laozhang-is-phi/p/9931304.html" rel="nofollow">07 ║ 项目第一次实现 &amp; CQRS初探</a></li>
            <li><a id="user-content-post_title_link_9962759" href="https://www.cnblogs.com/laozhang-is-phi/p/9962759.html" rel="nofollow">08 ║ 剪不断理还乱的 值对象和Dto</a></li>
            <li><a id="user-content-post_title_link_9984740" href="https://www.cnblogs.com/laozhang-is-phi/p/9984740.html" rel="nofollow">09 ║ 从军事故事中，明白领域命令验证（上）</a></li>
            <li><a id="user-content-post_title_link_10000662" href="https://www.cnblogs.com/laozhang-is-phi/p/10000662.html" rel="nofollow">10 ║ 领域驱动【实战篇·中】：命令总线Bus分发（一）</a></li>
            <li><a id="user-content-post_title_link_10025913" href="https://www.cnblogs.com/laozhang-is-phi/p/10025913.html" rel="nofollow">11 ║ 基于源码分析，命令分发的过程（二）</a></li>
            <li><a id="user-content-post_title_link_10059878" href="https://www.cnblogs.com/laozhang-is-phi/p/10059878.html" rel="nofollow">12 ║ 核心篇【下】：事件驱动EDA 详解</a></li>
            <li><a id="user-content-post_title_link_10093444" href="https://www.cnblogs.com/laozhang-is-phi/p/10093444.html" rel="nofollow">13 ║ 当事件溯源 遇上 粉丝活动</a></li>
        </ul>
<pre><code></code></pre>
        <hr>
        <p>主要的流程图，在下边的图中可以体现：</p>
        <p><a target="_blank" rel="noopener noreferrer" href="/images/1468246-20181122182320361-566237541.png"><img src="images/1468246-20181122182320361-566237541.png" alt="流程图1" style="max-width:100%;"></a></p>
        <p><a target="_blank" rel="noopener noreferrer" href="/images/WeChat%20Image_20181203111601.png"><img src="images/WeChat%20Image_20181203111601.png" alt="流程图2" style="max-width:100%;"></a></p>
        <p><a target="_blank" rel="noopener noreferrer" href="/images/WeChat%20Image_20181203111555.png"><img src="images/WeChat%20Image_20181203111555.png" alt="流程图3" style="max-width:100%;"></a></p>
        <p>系统环境</p>
        <p>　　windows 10、SQL server 2012、Visual Studio 2017、Windows Server 2008 R2、Linux Ubuntu、</p>
        <p>开发环境</p>
        <p>　　Visual Studio 15.3+、.NET Core SDK 2.0+、</p>
        <p>1、知识点（补充中）</p>
<pre><code>    ASP.NET Core 2.1.2  👉基本框架
    ASP.NET MVC Core  👉实现mvc web页面
    ASP.NET WebApi Core  👉实现 api 接口
    ASP.NET Identity Core  👉身份验证
    Entity Framework Core 2.0  👉实现ORM数据持久化
    Dapper （待定）
    .NET Core 原生 DI  👉实现依赖注入
    AOP  👉面向切面
    Autofact（待定）IoC
    AutoMapper  👉实现Dtos
    FluentValidator验证
    Swagger UI  👉实现接口文档展示
    MediatR  👉基于内存级别的消息发布订阅
    Azure  👉云服务发布
</code></pre>
        <p>2、特性（补充中）</p>
<pre><code>    领域驱动设计（Domain Driven Design (Layers and Domain Model Pattern)
    命令查询职责分离（CQRS：Command Query Responsibility Segregation）
    领域通知 （Domain Notification）
    领域驱动 （Domain Events）
    事件驱动架构 (EDA)
    事件回溯 （Event Sourcing）
    最终一致性 （Eventually Consistent）
    工作单元模式 （Unit of Work ）
    泛型仓储 （Repository and Generic Repository）
</code></pre>
       
    </article>
</div>
